@model IssueTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dt class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignee.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeverityLevel)
        </dt>
        <dd class = "col-sm-10">
            @{
                switch (Model.SeverityLevel)
                {
                    case IssueTracker.Enums.SeverityEnum.Critical:
                        <p style="color: red; font: bold">CRITICAL</p>
                        break;

                    case IssueTracker.Enums.SeverityEnum.Important:
                        <p style="color:darkorange; font: bold">Important</p>
                        break;

                    case IssueTracker.Enums.SeverityEnum.Low:
                        <p style="color: blue">Low</p>
                        break;

                    default:
                        <p>Normal</p>
                        break;
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @{
                switch (Model.Status)
                {
                    case IssueTracker.Enums.StatusEnum.Closed:
                        <p style="color: green">Closed</p>
                        break;

                    case IssueTracker.Enums.StatusEnum.AwaitingCustomerResponse:
                        <p>Awaiting Customer Response</p>
                        break;

                    case IssueTracker.Enums.StatusEnum.InDevelopment:
                        <p>In Development</p>
                        break;

                    default:
                        @Html.DisplayFor(model => model.Status)
                        break;
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
